<!-- GLOBAL LOADING OVERLAY -->
<div id="globalLoader" class="global-loader">
    <div class="loader-content">
        <div class="spinner-border text-primary" role="status"></div>
        <div class="loader-text">Loading...</div>
    </div>
</div>
