@model string
<div class="d-flex justify-content-center align-items-center mb-2">
    <div style="width: 50%;">
        <input id="tableSearch"
               class="form-control form-control"
               style="max-width: 100%;"
               placeholder="@Model" />
    </div>
</div>